<h1> my blog posts </h1>


<ol>

<% @posts.each do |post| %>
	<li><%= post.title %></li>
	# hardcode a link: <li><a href="/posts/<%= post.id %>"><%= post.title %> </li>
	# do it in action view: 

	<%= link_to(post.title, posts_path(post)) %>
	<% end %>
</ol>
	# link to post title and then use it as the route for the post -- higher level of abstraction 
pass in the object itself -- 
	# args are name displayed/interior text and file path

